.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.post-title {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.post-title h2 {
  font-size: 20px;
  margin: 0;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.post-image img {
  width: 100%;
  height: 300px;
  object-fit:cover ;
  border-radius: 8px;
}

.post-footer {
  margin-top: 10px;
  width: 100%;
}

.likes, .caption, .comments {
  margin-bottom: 5px;
  width: 100%;
}

.caption {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.caption.expanded {
  white-space: normal;
}

.read-more {
  color: blue;
  cursor: pointer;
  margin-top: 5px;
}

.comment {
  margin-top: 5px;
  width: 100%;
}

.comment-username {
  font-weight: bold;
}
