
.sidebar {
    background-color: #2C3E50;
    color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
  
  }
  
  .sidebar .menu-item {
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .sidebar .menu-item:hover {
    background-color: #34495E;
  }
  
  .sidebar .menu-item .icon {
    color: #18BC9C;
    margin-right: 10px;
  }
  
  .toggle-button {
    background-color: #16A085;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    bottom: 0;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    height: 100%;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
    
    .sidebar .menu-item {
      font-size: 14px;
      padding: 8px 16px;
    }
    
    .toggle-button {
      padding: 6px 12px;
      font-size: 14px;
    }
  
    .content {
      margin-left: 200px;
      width: calc(100% - 200px);
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 60px;
      justify-content: flex-start;
    }
    
    .sidebar .menu-item {
      font-size: 12px;
      padding: 6px 10px;
      text-align: center;
    }
    
    .sidebar .menu-item .icon {
      margin-right: 0;
    }
    
    .sidebar .menu-item span {
      display: none;
    }
    
    .toggle-button {
      padding: 4px 8px;
      font-size: 12px;
    }
  
    .content {
      margin-left: 60px;
      width: calc(100% - 60px);
    }
  }